/*******
[Table of contents]

	+ Document
	+ Common
	+ Header / .header
	+ Container section / .container
	+ Elements section / .elements
	+ Description section / .description
	+ Information section / .information
	+ Features section / .features
	+ Price section / .price
	+ Clients section / .clients
	+ Statistic section / .statistic
	+ Gallery section / .gallery
	+ Team section / .team
	+ Video section / .video_preview
	+ Customers section / .customers
	+ Reviews section / .reviews
	+ Promo section / .promo
	+ Footer / .footer
	+ Contact / .contact
	+ Subscribe / .subscribe
	+ Form / .uk-form
	+ Form submit hints
	+ Address / .address
	+ Map / .map
	+ Scroll button
	+ Button styles
	+ Spinner / .spinner
	+ Media queries
	+ Animations

*******/

/******* Document *******/

body {
    background: #fff;
    font: normal 17px Arial, sans-serif;
    color: #000;
    width: 100%;
    height: 100%;
}
p {
    color: #333;
}
.section {
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

/******* Common *******/

.sepia_overlay,
.light_overlay,
.grey_overlay,
.dark_overlay {
	position: relative;
}
.sepia_overlay:before,
.light_overlay:before,
.grey_overlay:before,
.dark_overlay:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.container.sepia_overlay:before,
.container.light_overlay:before,
.container.grey_overlay:before,
.container.dark_overlay:before {
	z-index: 1;
}
.sepia_overlay:before {
	background: rgba(51, 51, 51, 0.5);
}
.light_overlay:before {
	background: rgba(176,186,191,0.2);
}
.grey_overlay:before {
	background: rgba(0,0,0,0.3);
}
.dark_overlay:before {
	background: rgba(0,0,0,0.7);
}
.section_title {
	position: relative;
}
.section_title:after {
	content: '';
	position: absolute;
	left: 0;
	top: auto;
	right: 0;
	bottom: -14px;
	width: 150px;
	height: 1px;
	margin: auto;
	background: rgba(0,0,0,.15);
}
.uk-text-contrast.section_title:after {
	background: rgba(255,255,255,.5);
}
.section_subtitle {
	position: relative;
	margin-top: 30px;
	font-family: 'open_sanslight', sans-serif;
	color: #555;
}
.uk-margin-large-bottom.section_subtitle {
	margin-bottom: 60px !important;
}
#mobile_nav .uk-offcanvas-bar {
	bottom: auto;
	-webkit-transform: none;
	transform: none;
}

/******* Color background *******/

.background_gradient .container {
	background: #FE4A10;
	background: -moz-linear-gradient(-45deg, #FEE610 0%, #FE9110 34%, #FE4A10 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #FEE610 0%,#FE9110 34%,#FE4A10 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #FEE610 0%,#FE9110 34%,#FE4A10 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEE610', endColorstr='#FE4A10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.background_flat .container {
	background: #304c73;
}
.background_gradient .container_form .uk-form,
.background_flat .container_form .uk-form {
	background: rgba(0,0,0,.25);
}

/******* Slideshow background *******/

.container .slideshow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.container .slideshow,
.container .slideshow li {
	height: 100% !important;
}

/******* Video background *******/

.video_background,
.video {
	background: url('https://image.ibb.co/h0CXaw/photo_5.jpg') no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.video_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
}
.video {
    max-width: none;
	min-width: 100%;
	min-height: 100%;
}

/******* Effects *******/

.water_effect .container {
	background: url('https://image.ibb.co/cqRx8G/photo_3.jpg') no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.rainy_effect .container {
	background: url('https://image.ibb.co/cqRx8G/photo_3.jpg') no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
#rainy_background {
	position: absolute;
	width: 100%;
	height: 100%;
}
.particles_effect .container {
	background: url('https://image.ibb.co/cqRx8G/photo_3.jpg') no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.winter_effect .container {
	background: url('https://image.ibb.co/knkeNb/photo_7.jpg') no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
}
.particles_effect .container_block,
.winter_effect .container_block {
	z-index: auto;
}
.particles_effect .container_title,
.particles_effect .container_subtitle,
.particles_effect .container_description,
.winter_effect .container_title,
.winter_effect .container_subtitle,
.winter_effect .container_description {
	z-index: 4;
}
.particles_effect .container_button,
.particles_effect .form_send_message,
.winter_effect .container_button,
.winter_effect .form_send_message {
	z-index: 5;
}
#particles_block,
#winter_block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	z-index: 4;
}

/******* Header *******/

.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
	transition: background 0.5s;
}
.header.active {
	background: #6c5076;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.logo_link {
	transition: height 0.5s;
}
.header.active .logo_link {
    height: 50px;
    margin-top: 10px;
}
.header_nav_list_item_link {
	text-transform: uppercase;
	transition: color 0.3s, height 0.5s, line-height 0.5s;
}
.header.active .header_nav_list_item_link {
    height: 70px;
	line-height: 70px;
}
.header_navbar_mobile {
	transition: height 0.5s;
	cursor: pointer;
}
.header.active .header_navbar_mobile {
    height: 60px;
}
.uk-navbar-nav > li > a {
	padding: 0 14px;
	color: #fff;
	font-size: 14px;
	font-family: 'open_sanslight', sans-serif;
	letter-spacing: 0.65px;
	text-shadow: 1px 1px 20px rgba(0,0,0,0.5);
	text-transform: uppercase;
}
.header.active .uk-navbar-nav > li > a {
	text-shadow: none;
}
.uk-navbar-nav > li > a:hover {
	color: rgba(255,255,255,.85);
}

/******* Container section *******/

.container {
	background: url('src/assets/images/presentation_white.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.container_block {
	z-index: 3;
}
.container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.25);
	z-index: 1;
}
.container_clear.container:after {
	display: none;
}
.container_title {
	margin-bottom: -20px;
}
.container_title,
.container_subtitle {
	position: relative;
	color: #fff;
	font-family: 'robotoregular', sans-serif;
	font-size: 60px;
	line-height: 67px;
    font-weight: 600;
	text-shadow: 1px 1px 30px rgba(0,0,0,0.3);
}
.container_description {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 23px;
    font-family: 'robotolight', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 30px rgba(0,0,0,0.3);
}
.container_button {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}
.container_button_message,
.container_button_subscribe {
	display: inline-block;
	margin-right: 20px;
	min-height: 40px;
    padding: 0 20px;
    line-height: 40px;
	border: 1px solid #fff;
	background: none;
	color: #fff;
	font-size: 14px;
	transition: background 0.3s, border 0.3s;
}
.container_button_message {
	background: #fff;
	color: #444;
}
.container_button_message:last-child ,
.container_button_subscribe:last-child  {
	margin-right: 0;
}
.container_button_message:hover {
	background: #614766;
	border-color: #a97cb3;
	color: #fff;
}
.container_button_subscribe:hover {
	background: #fff;
	color: #444;
}
.green_button {
	background: #4ace6f;
	color: #fff;
	border: 1px solid #4ace6f;
}
.green_button:hover {
	background: #3fb05e;
	color: #fff;
	border: 1px solid #3fb05e;
}
.container_arrow {
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 50px;
	width: 35px;
	height: 35px;
	margin: auto;
	line-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 21px;
	border: 2px solid #fff;
	border-radius: 100%;
	transition: opacity 0.3s;
	z-index: 5;
	cursor: pointer;
}
.container_arrow:hover {
	opacity: 0.85;
}
.container_form .container_title,
.container_form .container_subtitle {
	font-size: 60px;
    line-height: 67px;
    text-align: left;
}
.container_form .uk-form {
	position: relative;
	padding: 40px 40px 15px;
	margin: 0 50px;
	background: rgba(0,0,0,.55);
	min-height: 150px;
}
.container_form input,
.container_form textarea {
	color: #333;
	margin-bottom: 5px;
	background: rgba(255,255,255,.9) !important;
}
.container_form input:focus,
.container_form input:active,
.container_form textarea:focus,
.container_form textarea:active {
	background: rgba(255,255,255,1) !important;
}
.container_form .container_description {
	position: relative;
	padding: 20px 70px 0 0;
	text-align: left;
	color: #fff;
	text-shadow: 1px 1px 30px rgba(0,0,0,0.3);
}
.container_form .container_description:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	height: 1px;
	background: #fff;
}
.container_form .container_description:before {
	width: 95%;
}

/******* Elements section *******/

.elements {
    padding: 70px 0 30px;
	background: #fff;
}
.elements_item_label {
	width: 180px;
	height: 180px;
	border: 1px solid #ccc;
	font-size: 85px;
	line-height: 180px;
	color: #6c5076;
	box-shadow: none;
	background: #fff;
	transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s;
	text-shadow: 3px 3px 7px rgba(0,0,0,0.4);
}
.elements_item_label:hover {
	border: 1px solid #fff;
    box-shadow: 10px 10px 10px #ccc;
	text-shadow: none;
}
.elements_item_text {
	font-size: 21px;
	color: #333;
}
.elements_item_desc {
	line-height: 21px;
    font-size: 15px;
    font-family: arial, sans-serif;
	color: #777;
}

/******* Description section *******/

.description {
    padding: 0;
	background: #f0f0f0;
	border: 0;
}
.uk-margin-large-bottom.description_title {
	margin-bottom: 40px !important;
}
.description_block {
	margin: 0 100px;
}
.description_image {
	min-height: 630px;
}

/******* Information section *******/

.information {
    padding: 120px 0;
}
.uk-margin-large-bottom.information_title {
	margin-bottom: 40px !important;
}
.information_image {
	min-width: 100%;
	min-height: 100%;
}
.information_grid_wrapper {
	margin: 0 -70px;
}

/******* Features section *******/

.features {
	padding: 100px 0 50px;
	background: url('https://image.ibb.co/e2DX8G/page_4.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	border: 0;
}
.features_block {
	padding: 0 10px;
}
.features_logo {
    width: 90px;
    height: 90px;
    line-height: 90px;
	border-radius: 100%;
    background: none;
	font-size: 56px;
	color: #fff;
	transition: box-shadow 0.5s, background 0.5s;
}
.features_logo:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.features_caption {
	font-size: 24px;
}
.uk-text-contrast.features_text {
	color: #ddd !important;
}

/******* Price section *******/

.price {
	padding: 100px 0 50px;
	background: #fff;
}
.three_price_container {
	padding: 0 120px;
}
.price_block {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: box-shadow 0.3s;
}
.price_block:hover {
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
}
.price_header {
	position: relative;
	padding: 20px 0;
    background: #6c5076;
}
.price_header:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: auto;
	width: 40%;
	height: 1px;
	margin: auto;
	background: rgba(0,0,0,.1);
}
.price_best .price_header {
	background: #00a393;
}
.price_block_title {
	margin: 0;
	color: #fff;
    font-family: "robotoregular", sans-serif;
}
.price_block_cost {
	margin: 0;
	padding: 0;
    font-family: "robotoregular", sans-serif;
	font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.price_block_text {
	position: relative;
	padding: 20px 0;
	color: #777;
}
.price_block_text:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: auto;
	width: 40%;
	height: 1px;
	margin: auto;
	background: rgba(0,0,0,.1);
}
.price_block_footer .uk-button {
	width: 80%;
	margin-top: 25px;
	margin-bottom: 25px;
	background: #6c5076;
	color: #fff;
	transition: background 0.3s;
}
.price_block_footer .uk-button:hover {
	background: #516070;
}
.best_price.price_block:before {
	content: "Best Price";
    position: absolute;
    z-index: 3;
    top: 22px;
    right: -28px;
    background: #f00;
    color: #fff;
    padding: 3px 25px;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.best_price.price_block {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.best_price.price_block:hover {
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
}

/******* Clients section *******/

.clients {
    padding: 120px 0;
	background: #fff;
}
.clients_slider_container {
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.clients_slider_container:before,
.clients_slider_container:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 20px;
	z-index: 1;
}
.clients_slider_container:before {
	left: 0;
	right: auto;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.clients_slider_container:after {
	left: auto;
	right: 0;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.clients .uk-slidenav {
	width: 30px;
}
.clients .uk-slidenav-position .uk-slidenav-previous {
    left: -20px;
}
.clients .uk-slidenav-position .uk-slidenav-next {
    right: -20px;
}
.clients .uk-slidenav-position .uk-slidenav {
	width: 50px;
    height: 50px;
	line-height: 48px;
	font-size: 30px;
    background: #fff;
    color: #121212;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
	transition: color 0.15s, background 0.15s;
}
.clients .uk-slidenav-position .uk-slidenav:focus {
    background: #fff;
    color: #121212;
}
.clients .uk-slidenav-position .uk-slidenav:hover {
	background: #fafafa;
}
.clients .uk-slidenav-position .uk-slidenav-next:before {
    display: block;
    margin-left: 3px;
}
.clients .uk-slidenav-position .uk-slidenav-previous:before {
    display: block;
    margin-right: 3px;
}

/******* Statistic section *******/

.statistic {
    padding: 150px 0 120px;
	color: #000;
	background: url('https://image.ibb.co/dPBQvw/page_6.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	border: 0;
}
.statistic_title {
	text-shadow: 1px 1px #000;
}
.statistic_counter {
	font-size: 85px;
	font-family: "robotoregular", sans-serif;
    text-shadow: 1px 1px #777;
}
.statistic_text {
    margin-top: 5px;
	font-size: 20px;
	font-family: "robotolight", sans-serif;
	text-transform: capitalize;
	text-shadow: 1px 1px #000;
}

/******* Gallery section *******/

.gallery {
	padding: 100px 0;
	background: #fff;
}
.gallery_block {
	margin-bottom: 10px !important;
	border: 1px solid #fff;
}
.wide_three_item_gallery_square .gallery_block {
	height: 530px;
}
.wide_three_item_gallery .gallery_block {
	height: 450px;
	margin-bottom: 0 !important;
}
.wide_four_item_gallery_square .gallery_block {
	height: 420px;
}
.wide_four_item_gallery .gallery_block {
	height: 330px;
	margin-bottom: 0 !important;
}
.gallery_container {
	padding: 0 30px;
}
.gallery_image {
	min-height: 100%;
	min-width: 100%;
}
.gallery_overlay {
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 0.4s;
}
.gallery_block:hover .gallery_overlay {
	opacity: 1;
}
.gallery_table {
	display: table;
	width: 100%;
	height: 100%;
}
.gallery_cell {
	display: table-cell;
	vertical-align: middle;
}
.gallery_caption {
	position: relative;
	bottom: -5px;
	font-size: 20px;
    font-family: "robotolight", sans-serif;
	opacity: 0;
	transition: bottom 0.3s ease-in 0.1s, opacity 0.3s ease-in 0.1s;
}
.gallery_block:hover .gallery_caption {
	bottom: 0;
	opacity: 1;
}
.gallery_description {
	position: relative;
	bottom: -5px;
    font-size: 14px;
	opacity: 0;
	transition: bottom 0.3s ease-in 0.2s, opacity 0.3s ease-in 0.2s;
}
.gallery_block:hover .gallery_description {
	bottom: 0;
	opacity: 1;
}

/******* Team section *******/

.team {
    padding: 70px 0 30px;
	background: #fafafa;
}
.team_container {
	width: 230px;
	height: 230px;
}
.team_block {
	min-width: 210px;
}
.team_image {
	min-width: 230px;
	min-height: 230px;
}
.team_name {
	color: #333;
}
.team_position {
	font-size: 15px;
}
.team_description {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #999;
    line-height: 18px;
}

/******* Video section *******/

.video_preview {
	position: relative;
	padding: 140px 0 160px;
    background: url('https://image.ibb.co/ecm3hb/page_7.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
	border: 0;
}
.video_button {
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: -50px;
	width: 70px;
	height: 70px;
	margin: auto !important;
	background: #6c5076;
	border: 5px solid #6c5076;
	box-shadow: 1px 1px 30px #ccc;
	cursor: pointer;
	transition: background 0.3s;
}
.video_button:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: -3px;
	bottom: 0;
	width: 0;
	height: 0;
	margin: auto;
	border-left: 17px solid #fff;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
}
.video_button:hover {
	background: none;
}
.video_button:hover:before {
	border-left: 17px solid #fff;
}

/******* Customers section *******/

.customers {
	padding: 100px 0 50px;
	background: #f0f0f0;
}
.customers_message {
    padding: 20px;
	margin: 0 0 40px;
    color: #777;
	background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}
.customers_message:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	margin: auto;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 21px solid #fff;
}
.customers_image {
	border-radius: 100%;
}
.customers_name {
    color: #384047;
    font-size: 16px;
}
.customers_position {
	color: #94a3a8;
	font-size: 14px;
}

/******* Reviews section *******/

.reviews {
    padding: 100px 0 70px;
	background: #f5f5f5;
}
.reviews_slider {
	width: 70%;
	user-select: none;
	-o-user-select:none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.reviews_message {
    padding: 20px;
	margin: 0 40px 40px;
    color: #777;
	font-family: "robotolight", sans-serif;
    font-size: 16px;
	background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}
.reviews_message:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	margin: auto;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 21px solid #fff;
}
.reviews_image {
	border-radius: 100%;
}
.reviews_name {
	margin-top: 5px;
    color: #555;
    font-size: 18px;
}
.reviews_position {
	color: #94a3a8;
	font-size: 14px;
	font-family: "robotolight", sans-serif;
}
.reviews .uk-slidenav-position .uk-slidenav {
	top: 75%;
	width: 50px;
    height: 50px;
	line-height: 48px;
	font-size: 30px;
    background: #fff;
    color: #121212;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
	transition: color 0.15s, background 0.15s;
}
.reviews .uk-slidenav-position .uk-slidenav:focus {
    background: #fff;
    color: #121212;
}
.reviews .uk-slidenav-position .uk-slidenav:hover {
	background: #fafafa;
}
.reviews .uk-slidenav-position .uk-slidenav-next:before {
    display: block;
    margin-left: 3px;
}
.reviews .uk-slidenav-position .uk-slidenav-previous:before {
    display: block;
    margin-right: 3px;
}
.reviews .uk-slidenav-position .uk-slidenav-previous.uk-active {
	left: 20px;
	opacity: 1;
}
.reviews .uk-slidenav-position .uk-slidenav-next.uk-active {
	right: 20px;
	opacity: 1;
}
.reviews .uk-slidenav-position .uk-slidenav-previous {
	left: 0;
	opacity: 0;
	transition: left 0.5s, opacity 0.15s;
}
.reviews .uk-slidenav-position .uk-slidenav-next {
	right: 0;
	opacity: 0;
	transition: right 0.5s, opacity 0.15s;
}
.reviews:hover  .uk-slidenav-position .uk-slidenav-previous {
	left: 20px;
	opacity: 1;
}
.reviews:hover .uk-slidenav-position .uk-slidenav-next {
	right: 20px;
	opacity: 1;
}

/******* Promo section *******/

.promo {
    padding: 180px 0;
	background: url('https://image.ibb.co/kk8Naw/page_8.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	border: 0;
}
.promo_button {
	padding: 0 75px;
	-webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

/******* Footer *******/

.footer {
	padding: 100px 0;
	background: #fff;
}
.social_list {
	font-size: 0;
}
.social_list_item {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.social_list_item:last-child {
	margin-right: 0;
}
.social_list_item_link {
	display: block;
	line-height: 40px;
	font-size: 16px;
	border-radius: 100%;
	color: #333;
	border: 2px solid #f0f0f0;
	background: #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s;
}
.social_list_item_link:hover {
	text-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
.uk-icon-facebook.social_list_item_link:hover {
	color: #fff;
	background: #3B5998;
	border: 2px solid #3B5998;
}
.uk-icon-twitter.social_list_item_link:hover {
	color: #fff;
	background: #55acee;
	border: 2px solid #55acee;
}
.uk-icon-google-plus.social_list_item_link:hover {
	color: #fff;
	background: #dd4b39;
	border: 2px solid #dd4b39;
}
.uk-icon-linkedin.social_list_item_link:hover {
	color: #fff;
	background: #0077b5;
	border: 2px solid #0077b5;
}
.uk-icon-youtube.social_list_item_link:hover {
	color: #fff;
	background: #e52d27;
	border: 2px solid #e52d27;
}
.uk-icon-pinterest.social_list_item_link:hover {
	color: #fff;
	background: #bd081c;
	border: 2px solid #bd081c;
}
.uk-icon-dribbble.social_list_item_link:hover {
	color: #fff;
	background: #ed5565;
	border: 2px solid #ed5565;
}
.uk-icon-instagram.social_list_item_link:hover {
	color: #fff;
	background: #44749C;
	border: 2px solid #44749C;
}
.uk-icon-behance.social_list_item_link:hover {
	color: #fff;
	background: #005cff;
	border: 2px solid #005cff;
}
.uk-icon-skype.social_list_item_link:hover {
	color: #fff;
	background: #00aff1;
	border: 2px solid #00aff1;
}

/******* Contact *******/

.contact {
    padding: 100px 0;
	background: url('https://image.ibb.co/dJZvvw/page_9.jpg') no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
	border: 0;
}

/******* Subscribe *******/

.subscribe {
	padding: 170px 0 150px;
    background: url('https://image.ibb.co/fbxR2b/page_5.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
	border: 0;
}

/******* Form *******/

.uk-form {
	position: relative;
}
.form_input {
	height: 45px !important;
	font-size: 14px !important;
}
.form_textarea {
	min-height: 100px;
	font-size: 14px !important;
}
.form_button {
	position: relative;
	height: 45px !important;
	min-width: 125px;
	border: 1px solid #4caf50;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.form_button:hover {
	background: none;
	font-size: 0;
}
.form_button:after {
	content: '\f1d8';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 18px;
	font-family: 'FontAwesome';
	color: #fff;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.form_button:hover:after {
	-moz-opacity: 1;
	opacity: 1;
}
.uk-form .uk-text-contrast:-webkit-autofill {
	color: rgba(255,255,255,.65) !important;
	-webkit-text-fill-color: rgba(255,255,255,.65) !important;
}
.uk-form .uk-text-contrast::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    rgba(255,255,255,.65) !important;
}
.uk-form .uk-text-contrast:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(255,255,255,.65) !important;
   opacity:  1 !important;
}
.uk-form .uk-text-contrast::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(255,255,255,.65) !important;
   opacity:  1 !important;
}
.uk-form .uk-text-contrast:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(255,255,255,.65) !important;
}
.uk-form .uk-text-contrast::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgba(255,255,255,.65) !important;
}

/******* Form submit hints *******/

.submit_overlay:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
	z-index: 3;
}
.response_wrapper {
	position: absolute;
	bottom: -70px;
	left: 0;
	right: 0;
}
.success,
.success_response,
.error,
.error_response {
	display: none;
	margin: 10px auto;
	font-size: 16px;
}
.success,
.success_response {
	color: #0f0;
}
.error,
.error_response {
	color: #f00;
}

/******* Address *******/

.address {
    padding: 150px 0 100px;
	background: #fff;
}
.address_wrapper {
	max-width: 900px;
	margin: 0 auto;
}
.address_label {
	color: #6c5076;
	font-size: 70px;
	transition: text-shadow 0.5s;
	text-shadow: 3px 3px 7px rgba(0,0,0,0.4);
}
.address_label:hover {
	text-shadow: none;
}
.address_title {
	color: #333;
}
.address_text {
	font-size: 16px;
    font-family: 'robotolight', sans-serif;
}

/******* Map *******/

.map {
	height: 600px;
	border: 0;
}

/******* Scroll button *******/

.scroll_top {
	position: fixed;
	right: 20px;
	bottom: 40px;
	width: 0;
	height: 0;
	border-radius: 100%;
	box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.15);
	background: rgba(0,0,0,0.6);
	transition: background 0.3s;
	cursor: pointer;
	z-index: -3;
	transition: bottom 0.5s, width 0.5s, height 0.5s, background 0.3s;
}
.scroll_top:before {
	content: "\f105";
    font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 5px;
	height: 23px;
	line-height: 20px;
	margin: auto;
	font-size: 24px;
	color: #fff;
	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
	opacity: 0;
	transition: opacity 0.1s linear 0.5s;
}
.scroll_top:hover {
	background: rgba(0,0,0,0.9);
}
.scroll_top.active {
	width: 50px;
	height: 50px;
	bottom: 20px;
	z-index: 3;
}
.scroll_top.active:before {
	opacity: 1;
}

/******* Button styles *******/

.uk-button {
	margin-bottom: 7px;
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.button_custom_teal {
	color: #fff;
	background-color: #00a393;
	transition: background 0.3s;
}
.button_custom_teal:hover,
.button_custom_teal:active,
.button_custom_teal:focus {
	color: #fff;
	background-color: #019385;
}
.button_custom_green {
	color: #fff;
	background-color: #51bd55;
	transition: background 0.3s;
}
.button_custom_green:hover,
.button_custom_green:active,
.button_custom_green:focus {
	color: #fff;
	background-color: #4caf50;
}
.button_custom_light_green {
	color: #fff;
	background-color: #93cf4e;
	transition: background 0.3s;
}
.button_custom_light_green:hover,
.button_custom_light_green:active,
.button_custom_light_green:focus {
	color: #fff;
	background-color: #8bc34a;
}
.button_custom_yellow {
	color: #4d4d4d;
	background-color: #ffed47;
	transition: background 0.3s;
}
.button_custom_yellow:hover,
.button_custom_yellow:active,
.button_custom_yellow:focus {
	color: #4d4d4d;
	background-color: #fde247;
}
.button_custom_amber {
	color: #fff;
	background-color: #ffc414;
	transition: background 0.3s;
}
.button_custom_amber:hover,
.button_custom_amber:active,
.button_custom_amber:focus {
	color: #fff;
	background-color: #feb514;
}
.button_custom_orange {
	color: #fff;
	background-color: #ff9e0d;
	transition: background 0.3s;
}
.button_custom_orange:hover,
.button_custom_orange:active,
.button_custom_orange:focus {
	color: #fff;
	background-color: #f09800;
}
.button_custom_brown {
	color: #fff;
	background-color: #855d4e;
	transition: background 0.3s;
}
.button_custom_brown:hover,
.button_custom_brown:active,
.button_custom_brown:focus {
	color: #fff;
	background-color: #754d3e;
}
.button_custom_grey {
	color: #fff;
	background-color: #ababab;
	transition: background 0.3s;
}
.button_custom_grey:hover,
.button_custom_grey:active,
.button_custom_grey:focus {
	color: #fff;
	background-color: #9b9b9b;
}
.button_custom_blue-grey {
	color: #fff;
	background-color: #6a8999;
	transition: background 0.3s;
}
.button_custom_blue_grey:hover,
.button_custom_blue_grey:active,
.button_custom_blue_grey:focus {
	color: #fff;
	background-color: #5a7989;
}
.button_custom_green_grey {
	color: #fff;
	background-color: #208090;
	transition: background 0.3s;
}
.button_custom_green_grey:hover,
.button_custom_green_grey:active,
.button_custom_green_grey:focus {
	color: #fff;
	background-color: #107080;
}
.button_custom_cyan {
	color: #fff;
	background-color: #00c6e0;
	transition: background 0.3s;
}
.button_custom_cyan:hover,
.button_custom_cyan:active,
.button_custom_cyan:focus {
	color: #fff;
	background-color: #00b6d0;
}
.button_custom_light-blue {
	color: #fff;
	background-color: #03a9f4;
	transition: background 0.3s;
}
.button_custom_light_blue:hover,
.button_custom_light_blue:active,
.button_custom_light_blue:focus {
	color: #fff;
	background-color: #0399d4;
}
.button_custom_blue {
	color: #fff;
	background-color: #2196f3;
	transition: background 0.3s;
}
.button_custom_blue:hover,
.button_custom_blue:active,
.button_custom_blue:focus {
	color: #fff;
	background-color: #1186e3;
}
.button_custom_dark_blue {
	color: #fff;
	background-color: #3f51b5;
	transition: background 0.3s;
}
.button_custom_dark_blue:hover,
.button_custom_dark_blue:active,
.button_custom_dark_blue:focus {
	color: #fff;
	background-color: #2f41a5;
}
.button_custom_deep_purple {
	color: #fff;
	background-color: #673ab7;
	transition: background 0.3s;
}
.button_custom_deep_purple:hover,
.button_custom_deep_purple:active,
.button_custom_deep_purple:focus {
	color: #fff;
	background-color: #572aa7;
}
.button_custom_purple {
	color: #fff;
	background-color: #9c27b0;
	transition: background 0.3s;
}
.button_custom_purple:hover,
.button_custom_purple:active,
.button_custom_purple:focus {
	color: #fff;
	background-color: #8c17a0;
}
.button_custom_pink {
	color: #fff;
	background-color: #e91e63;
	transition: background 0.3s;
}
.button_custom_pink:hover,
.button_custom_pink:active,
.button_custom_pink:focus {
	color: #fff;
	background-color: #d90e53;
}
.button_custom_red {
	color: #fff;
	background-color: #f44336;
	transition: background 0.3s;
}
.button_custom_red:hover,
.button_custom_red:active,
.button_custom_red:focus {
	color: #fff;
	background-color: #e43326;
}

/******* Modal subscribe window *******/

.subscribe_window .uk-modal-dialog {
	padding: 120px 30px;
	background: #333 url('https://image.ibb.co/hC3ATG/w_dialog.jpg') no-repeat center center;
	background-size: cover;
}
.subscribe_window .uk-modal-dialog:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 65%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -ms-linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.subscribe_window_title {
	position: relative;
	margin: 0 0 50px;
	font-size: 28px;
	line-height: 30px;
	text-shadow: 1px 1px 20px #000, 1px 1px 30px #000;
	z-index: 3;
}
.subscribe_window .form_sign_in {
	z-index: 3;
}
.subscribe_window_close {
	position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    opacity: 1;
	text-shadow: 1px 1px 20px #000, 1px 1px 30px #000;
	z-index: 3;
}
.subscribe_window_close:hover, 
.subscribe_window_close:focus {
    color: #fff;
    opacity: 0.85;
}

/******* Spinner *******/

.spinner {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #2B2D35;
	z-index: 25;
}
.spinner_wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 40px;
	height: 40px;
}
.spinner_folding_cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.spinner_folding_cube .spinner_cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); 
}
.spinner_folding_cube .spinner_cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-animation: spinner_foldCubeAngle 2.4s infinite linear both;
	animation: spinner_foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.spinner_folding_cube .spinner_cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.spinner_folding_cube .spinner_cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.spinner_folding_cube .spinner_cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.spinner_folding_cube .spinner_cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.spinner_folding_cube .spinner_cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s; 
}
.spinner_folding_cube .spinner_cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes spinner_foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
	} 25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1; 
	} 90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0; 
	} 
}
@keyframes spinner_foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
	} 25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1; 
	} 90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0; 
	}
}

/******* Media queries *******/

@media screen and (max-width: 1600px) {
	.description_image {
		min-height: 530px;
	}
	.wide_three_item_gallery_square .gallery_block {
		height: 430px;
	}
	.wide_three_item_gallery .gallery_block {
		height: 380px;
	}
	.wide_four_item_gallery_square .gallery_block {
		height: 350px;
	}
	.wide_four_item_gallery .gallery_block {
		height: 280px;
	}
}
@media screen and (max-width: 1440px) {
	.uk-navbar-content, 
	.uk-navbar-brand, 
	.uk-navbar-toggle {
		height: 80px;
	}
	.header.active .logo_link {
		height: 60px;
		margin-top: 5px;
	}
	.description_image {
		min-height: 480px;
	}
	.wide_three_item_gallery_square .gallery_block {
		height: 370px;
	}
	.wide_three_item_gallery .gallery_block {
		height: 340px;
	}
	.wide_four_item_gallery_square .gallery_block {
		height: 300px;
	}
	.wide_four_item_gallery .gallery_block {
		height: 250px;
	}
}
@media screen and (max-width: 1439px) {
	.description_block {
		margin: 0 50px;
	}
	.information_grid_wrapper {
		margin: 0;
	}
	.wide_three_item_gallery .gallery_block {
		height: 320px;
	}
	.wide_four_item_gallery .gallery_block {
		height: 230px;
	}
}
@media screen and (max-width: 1279px) {
	.description_block {
		margin: 0;
	}
	.description_image {
		min-height: 450px;
	}
	.information {
		padding: 70px 0;
	}
}
@media screen and (max-width: 1219px) {
	.container_form .container_title,
	.container_form .container_subtitle {
		font-size: 48px;
		line-height: 54px;
	}
	.container_form .uk-form {
		margin: 0;
	}
	.team_container {
		width: 200px;
		height: 200px;
	}
	.team_image {
		min-width: 200px;
		min-height: 200px;
	}
	.wide_three_item_gallery .gallery_block {
		height: 250px;
	}
}
@media screen and (max-width: 959px) {
	.header.active .logo_link {
		margin-top: 0;
	}
	.container {
		min-height: 870px;
	}
	.container_form {
		padding: 0 70px;
	}
	.container_arrow {
		display: none;
	}
	.description {
		padding-bottom: 70px;
	}
	.description_secondary {
		padding-top: 70px;
		padding-bottom: 0;
		border-top: 1px solid #ccc;
		background: #fff;
	}
	.description_block {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.description_image {
		min-height: 250px;
		max-height: 250px;
		height: 250px;
	}
	.price_container {
		padding: 0 105px;
	}
	.three_price_container {
		padding: 0 25px;
	}
	.statistic_wrapper {
		max-width: 400px;
		margin: 0 auto;
	}
	.team_container {
		width: 230px;
		height: 230px;
	}
	.team_image {
		min-width: 230px;
		min-height: 230px;
	}
	.wide_three_item_gallery .gallery_block,
	.wide_four_item_gallery .gallery_block {
		height: 270px;
	}
	.map {
		height: 450px;
	}
	.features,
	.statistic,
	.subscribe,
	.clients,
	.reviews,
	.promo,
	.contact,
	.footer {
		padding: 70px 0 50px;
	}
	.price {
		padding: 70px 0 20px;
	}
	.gallery {
		padding: 70px 0 0;
	}
	.video_preview {
		padding: 70px 0 75px;
	}
	.address {
		padding: 70px 0 30px;
	}
}
@media screen and (max-width: 767px) {
	h3, 
	.uk-h3 {
		font-size: 32px;
		line-height: 36px;
	}
	h4, 
	.uk-h4 {
		font-size: 18px;
		line-height: 23px;
	}
	.header .logo_link {
		padding: 0;
	}
	.logo {
		height: 40px;
	}
	.header_navbar_mobile {
		padding: 0;
	}
	.container {
		display: block;
		height: auto;
		min-height: 0;
		padding: 120px 0 10px;
		text-align: center;
	}
	.container_title,
	.container_subtitle {
		font-size: 48px;
		line-height: 54px;
	}
	.container_description {
		padding: 10px 0 0;
		font-size: 16px;
	}
	.container_form {
		padding: 0;
	}
	.background_gradient .container_form .uk-form, 
	.background_flat .container_form .uk-form,
	.container_form .uk-form {
		padding: 0;
		background: none;
	}
	.container_form .container_title, 
	.container_form .container_subtitle,
	.container_form .container_description {
		text-align: center;
	}
	.container_form .container_description {
		padding: 20px 0 0;
	}
	.container_form .container_description:before {
		width: 100%;
		right: 0;
		bottom: auto;
		margin: auto;
	}
	.information_grid_wrapper .uk-container {
		padding: 0;
	}
	.features-title,
	.features-text {
		text-align: center;
	}
	.price_container {
		padding: 0 25px;
	}
	.three_price_container {
		padding: 0 150px;
	}
	.gallery_block {
		border: 0;
	}
	.wide_three_item_gallery .gallery_block,
	.wide_four_item_gallery .gallery_block {
		height: 330px;
	}
	.address_wrapper {
		margin: 0 0 0 -25px;
	}
	.map {
		height: 300px;
	}
	.form_button {
		min-width: 100px;
	}
	.subscribe .uk-form,
	.contact .uk-form {
		padding: 0 30px;
	}
	.contact .uk-grid-small.uk-container-center {
		margin-left: -5px;
	}
	.clients_slider {
		width: 80%;
	}
	.subscribe_window_title {
		font-size: 28px;
	}
}
@media screen and (max-width: 600px) {
	.three_price_container {
		padding: 0 100px;
	}
	.reviews_slider {
		width: auto;
	}
	.subscribe .uk-form,
	.contact .uk-form {
		padding: 0;
	}
}
@media screen and (max-width: 479px) {
	.container_title, 
	.container_subtitle,
	.container_form .container_title,
	.container_form .container_subtitle {
		font-size: 30px;
		line-height: 32px;
	}
	.price_container {
		padding: 0 55px;
	}
	.three_price_container {
		padding: 0 55px;
	}
	.reviews_message {
		margin: 0 10px 40px;
	}
	.subscribe_window .uk-modal-dialog {
		padding: 70px 30px 80px;
	}
	.response_wrapper {
		left: -20px;
		right: -20px;
	}
	.success, 
	.success_response, 
	.error, 
	.error_response {
		font-size: 14px;
	}
	.contact .uk-grid-small > * {
		padding-left: 0;
	}
	.wide_three_item_gallery .gallery_block,
	.wide_four_item_gallery .gallery_block {
		height: 270px;
	}
	.contact .uk-grid-small.uk-container-center {
		margin-left: auto;
	}
	.clients_slider {
		width: 90%;
	}
	.subscribe_window_title {
		font-size: 24px;
	}
}
@media screen and (max-width: 375px) {
	.description_image {
		min-height: 250px;
	}
	.price_container {
		padding: 0 25px;
	}
	.three_price_container {
		padding: 0 25px;
	}
	.clients_slider {
		width: auto;
	}
	.clients .uk-slidenav-position .uk-slidenav-previous {
		left: -15px;
	}
	.clients .uk-slidenav-position .uk-slidenav-next {
		right: -15px;
	}
	.subscribe_window_title {
		font-size: 18px;
	}
}
@media screen and (max-width: 359px) {
	.wide_three_item_gallery .gallery_block,
	.wide_four_item_gallery .gallery_block {
		height: 230px;
	}
}
@media screen and (max-width: 320px) {
	.description_image {
		min-height: 210px;
	}
}

/******* Animations *******/

.animated {
	position: relative;
	top: -10px;
	opacity: 1;
    transition: opacity 1.5s linear;
}
.uk-active[data-uk-scrollspy] .animated {
	top: 0;
    opacity: 0;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(1) {
	transition: top 0.5s linear 0.1s, opacity 0.5s linear 0.1s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(2) {
	transition: top 0.5s linear 0.3s, opacity 0.5s linear 0.3s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(3) {
	transition: top 0.5s linear 0.5s, opacity 0.5s linear 0.5s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(4) {
	transition: top 0.5s linear 0.7s, opacity 0.5s linear 0.7s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(5) {
	transition: top 0.5s linear 0.9s, opacity 0.5s linear 0.9s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(6) {
	transition: top 0.5s linear 1.1s, opacity 0.5s linear 1.1s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(7) {
	transition: top 0.5s linear 1.4s, opacity 0.5s linear 1.4s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(8) {
	transition: top 0.5s linear 1.5s, opacity 0.5s linear 1.5s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(9) {
	transition: top 0.5s linear 1.7s, opacity 0.5s linear 1.7s;
}
.uk-active[data-uk-scrollspy] .animated:nth-child(10) {
	transition: top 0.5s linear 1.8s, opacity 0.5s linear 1.8s;
}


