@media only screen and (min-width: 960px) and (max-width: 1220px) {
    .logo{
        width: 210px !important;
    }
}

.container {
    max-width: none !important;
}

.carousel-caption h3 {
    font-size: 1.6rem;
    color: white;
}

.carousel-caption p {
    color: white;
    font-size: 1rem;
}
