<html lang="en" class="uk-notouch">
<style>.dismissButton{background-color:#fff;border:1px solid #dadce0;color:#1a73e8;border-radius:4px;font-family:Roboto,sans-serif;font-size:14px;height:36px;cursor:pointer;padding:0 24px}.dismissButton:hover{background-color:rgba(66,133,244,0.04);border:1px solid #d2e3fc}.dismissButton:focus{background-color:rgba(66,133,244,0.12);border:1px solid #d2e3fc;outline:0}.dismissButton:hover:focus{background-color:rgba(66,133,244,0.16);border:1px solid #d2e2fd}.dismissButton:active{background-color:rgba(66,133,244,0.16);border:1px solid #d2e2fd;box-shadow:0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15)}.dismissButton:disabled{background-color:#fff;border:1px solid #f1f3f4;color:#3c4043}
</style>
<style>.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
</style>
<style>.gm-control-active>img{box-sizing:content-box;display:none;left:50%;pointer-events:none;position:absolute;top:50%;transform:translate(-50%,-50%)}.gm-control-active>img:nth-child(1){display:block}.gm-control-active:hover>img:nth-child(1),.gm-control-active:active>img:nth-child(1){display:none}.gm-control-active:hover>img:nth-child(2),.gm-control-active:active>img:nth-child(3){display:block}
</style>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans">
<style>.gm-ui-hover-effect{opacity:.6}.gm-ui-hover-effect:hover{opacity:1}
</style>
<style>.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
</style>
<style>@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
</style>
<style>.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
<style>.gm-style img{max-width: none;}.gm-style {font: 400 11px Roboto, Arial, sans-serif; text-decoration: none;}
</style>
<style>
    @import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
</style>
<!--style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
</style-->
<body data-ng-app="myPage" data-ng-controller="myPageCtrl" class="ng-scope">

<!-- Spinner -->
<div class="spinner">
	<div class="spinner_wrapper">
		<div class="spinner_folding_cube">
			<div class="spinner_cube1 spinner_cube"></div>
			<div class="spinner_cube2 spinner_cube"></div>
			<div class="spinner_cube4 spinner_cube"></div>
			<div class="spinner_cube3 spinner_cube"></div>
		</div>
	</div>
</div>


<div class="wrapper">

<header class="uk-small-hidden header active">
	<nav class="uk-navbar header-nav">
		<div class="uk-container uk-container-center">
			<a class="uk-navbar-brand logo_link">
				<img class="uk-responsive-height logo" src="../../assets/images/logo_h_white.png" alt="PE&CA">
			</a>
			<div class="uk-navbar-flip uk-visible-large">
				<ul class="uk-navbar-nav header-nav-list">
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_features header_nav_list_item_link" href="#">Nosotros</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">Servicios</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_projects header_nav_list_item_link" href="#">Projectos</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_customers header_nav_list_item_link" href="#">Sabías que</a>
					</li>
					<!--li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Hechos</a>
					</li-->
					<!--li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Equipo</a>
					</li-->
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_pricing header_nav_list_item_link" href="#">Contáctanos</a>
					</li>
				</ul>
			</div>
			<div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
				<div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
			</div>
		</div>
	</nav>
</header>

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
	<mdb-carousel-item>
	  <div class="view w-100">
		<img class="d-block w-100" src="../../assets/images/presentation_white_1400x600.jpg" alt="First slide">
		<div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
	  </div>
	</mdb-carousel-item>
	<mdb-carousel-item>
		<div class="view w-100">
			<img class="d-block w-100" src="../../assets/images/departamental_JV_interior_1400x600.jpg" alt="slide">
			<div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
		</div>
		<div class="carousel-caption">
			<h3 class="h3-responsive">Diseñamos</h3>
			<p>Espacios de vida que brindad comodidad</p>
		</div>
	</mdb-carousel-item>
	<mdb-carousel-item>
		<div class="view w-100">
			<img class="d-block w-100" src="../../assets/images/clinica.png" alt="Second slide">
			<div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
	  	</div>
	  	<div class="carousel-caption">
			<h3 class="h3-responsive">Creamos</h3>
			<p>Espacios con la vinculación adecuada para viviendas, espacios de trabajo, empresas, etc.</p>
	  	</div>
	</mdb-carousel-item>
	<mdb-carousel-item>
	  	<div class="view w-100">
			<img class="d-block w-100" src="../../assets/images/casa_contemporanea.jpg" alt="Third slide">
			<div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
	  </div>
	  <div class="carousel-caption">
			<h3 class="h3-responsive">Construimos</h3>
			<p>Espacios para su máximo aprovechamiento y duración con el uso de materiales de calidad.</p>
	  </div>
	</mdb-carousel-item>
</mdb-carousel>

<section class="elements section">
	<div class="uk-container uk-container-center uk-text-center uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
	<h3 class="uk-h3 uk-margin-bottom animated section_title elements_title">Quiénes somos</h3>
	<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">Es tiempo de construir y tomar una buena decisión</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-3 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-thumbs-o-up uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Precio</h4>
					<p class="elements_item_desc">Un equipo y empresa de construcción comprometido en el diseño, construcción y economía</p>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-line-chart uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Calidad</h4>
					<p class="elements_item_desc">Brindamos calidad y seguridad en lo que construimos</p>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-bar-chart-o uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Análisis</h4>
					<p class="elements_item_desc">Diseñamos ESPACIOS DE VIDA para las diferentes necesidades de cada persona</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="features grey_overlay section">
	<div class="uk-container uk-container-center uk-position-relative uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
		<h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">Nuestros servicios</h3>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">Lleva tu construcción al siguiente nivel</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-building features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Vinculación</h4>
						<p class="uk-text-contrast features_text">Vinculaciones para los diferentes espacios de una casa, oficina, etc.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-lightbulb-o features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Diseño</h4>
						<p class="uk-text-contrast features_text">Diseños creativos de los diferentes espacios.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-users features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Control</h4>
						<p class="uk-text-contrast features_text">Control de obra. Residente de obra.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--section class="clients section">
	<div class="uk-container uk-container-center uk-text-center uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
		<h3 class="uk-h3 animated section_title clients_title">Nuestros clientes</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">Both large national corporate clients and small local businesses trust our team</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-bottom animated clients_slider" data-uk-slider="">
			<div class="uk-slider-container clients_slider_container">
				<ul class="uk-slider uk-grid-width-medium-1-4 clients_list" style="min-width: 3813.75px; min-height: 150px; transform: translateX(0px);">
					<li class="clients_list_item" style="left: 0px; width: 254.25px;">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_1.png" alt="" draggable="false">
					</li>
					<li class="clients_list_item uk-slide-after" style="left: 254.25px; width: 254.25px;">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_2.png" alt="" draggable="false">
					</li>
					<li class="clients_list_item uk-slide-after" style="left: 508.5px; width: 254.25px;">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_3.png" alt="" draggable="false">
					</li>
					<li class="clients_list_item uk-slide-after" style="left: 762.75px; width: 254.25px;">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_4.png" alt="" draggable="false">
					</li>
					<li class="clients_list_item uk-slide-after" style="left: 1017px; width: 254.25px;">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_5.png" alt="" draggable="false">
					</li>
				<li class="clients_list_item uk-slide-after" style="left: 1271.25px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_1.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-after" style="left: 1525.5px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_2.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-after" style="left: 1779.75px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_3.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-after" style="left: 2034px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_4.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-after" style="left: 2288.25px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_5.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-after" style="left: 2542.5px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_1.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-before" style="left: -1017px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_2.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-before" style="left: -762.75px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_3.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-before" style="left: -508.5px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_4.png" alt="" draggable="false">
					</li><li class="clients_list_item uk-slide-before" style="left: -254.25px; width: 254.25px;" id="">
						<img class="clients_list_item_image" src="../../assets/images/demo/logo_5.png" alt="" draggable="false">
					</li></ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-previous uk-border-circle clients_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next uk-border-circle clients_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section-->

<section class="gallery wide_four_item_gallery section uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
	<h3 class="uk-h3 uk-text-center animated section_title gallery_title">Nuestros proyectos</h3>
	<h4 class="uk-h4 uk-text-center uk-margin-large-bottom animated section_subtitle">Innovamos para cambiar el mundo</h4>
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/casa_maan2.png" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/casa_maan2.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Casa Habitacional Maan</h4>
								<div class="uk-text-contrast gallery_description">Casa habitacional H-3. Complejo habitacional de vivienda.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/departamental_JV.jpg" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/departamental_JV.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Proyecto Departamental JV</h4>
								<div class="uk-text-contrast gallery_description">Complejo departamental de vivienda. H-4.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/departamental_JV_interior.jpg" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/departamental_JV_interior.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Interior Proyecto Departamental JV</h4>
								<div class="uk-text-contrast gallery_description">Complejo departamental de vivienda. H-4.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/departamental_fena.png" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/departamental_fena.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Proyecto Departamental FE-NA</h4>
								<div class="uk-text-contrast gallery_description">Complejo departamental de vivienda.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/departamental_fena_interior.png" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/departamental_fena_interior.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Interior Proyecto Departamental FE-NA</h4>
								<div class="uk-text-contrast gallery_description">Complejo departamental de vivienda.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/clinica_primer_contacto.png" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/clinica_primer_contacto.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Clínica de Primer Contacto</h4>
								<div class="uk-text-contrast gallery_description">Proyecto Escolar Clínica de Primer Contacto.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/clinica_primer_interior.png" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/clinica_primer_interior.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Clínica de Primer Contacto</h4>
								<div class="uk-text-contrast gallery_description">Interior del Proyecto Escolar Clínica de Primer Contacto.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="../../assets/images/us/mercado.png" data-lightbox-type="image" data-uk-lightbox="{group:&#39;my-group&#39;}" style="background-image: url(&quot;../../assets/images/us/mercado.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Mercado Artesanal</h4>
								<div class="uk-text-contrast gallery_description">Proyecto Escolar Mercado Artesanal.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<!--section class="team section">
	<div class="uk-container uk-container-center uk-text-center uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
		<h3 class="uk-h3 animated section_title team_title">Nuestro equipo</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We have a fantastic team of developers and engineers that are ready to help you</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="../../assets/images/demo/person_4.jpg" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">James Smith</h4>
					<div class="uk-margin-bottom team_position">Founder &amp; CEO</div>
					<div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="../../assets/images/demo/person_1.jpg" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Elizabeth Johnson</h4>
					<div class="uk-margin-bottom team_position">Creative director</div>
					<div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-youtube social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-skype social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="../../assets/images/demo/person_3.jpg" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Robert Williams</h4>
					<div class="uk-margin-bottom team_position">Web developer</div>
					<div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="../../assets/images/demo/person_2.jpg" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Jennifer Jones</h4>
					<div class="uk-margin-bottom team_position">Web designer</div>
					<div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-behance social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-instagram social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section-->

<!--section class="video_preview grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center uk-position-relative uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
		<h3 class="uk-h3 uk-text-contrast animated section_title team_title">Diseñamos</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">justo lo que necesitas</h4>
		<a class="uk-border-circle uk-icon-play animated video_button" href="https://www.youtube.com/embed/m_lOQe2y4ug?ecver=2" data-uk-lightbox="{group:&#39;group1&#39;}" data-lightbox-type="iframe"></a>
	</div>
</section-->

<section class="reviews section">
	<div class="uk-container uk-container-center uk-text-center uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
		<h3 class="uk-h3 animated section_title reviews_title">Sabías que...</h3>
		<div class="uk-slidenav-position uk-align-center uk-margin-large-bottom animated reviews_slider" data-uk-slider="">
			<div class="uk-slider-container">
				<ul class="uk-slider reviews_list" style="min-width: 7119px; min-height: 241.4px; transform: translateX(0px);">
				<li class="reviews_list_item uk-slide-after" style="left: 4746px; width: 791px;" id="">
						<div class="uk-position-relative reviews_message">Un edificio tiene dos vidas. La que imagina su creador y la vida que tiene. Y no siempre son iguales.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="../../assets/images/demo/customer_4.jpg" alt="" draggable="false">
							<div class="reviews_description">
								<div class="reviews_name">Rem Koolhaas</div>
								<div class="reviews_position">Famoso Arquitecto Neerlandés</div>
							</div>
						</div>
					</li><li class="reviews_list_item uk-slide-after" style="left: 5537px; width: 791px;" id="">
						<div class="uk-position-relative reviews_message">La belleza perece en la vida, pero es inmortal en el arte. Los hombres geniales empiezan grandes obras, los hombres trabajadores las terminan.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="../../assets/images/demo/customer_5.jpg" alt="" draggable="false">
							<div class="reviews_description">
								<div class="reviews_name">Leonardo Da Vinci</div>
								<div class="reviews_position">Arquitecto, escultor, ingeniero, inventor y pintor</div>
							</div>
						</div>
					</li><li class="reviews_list_item uk-slide-before" style="left: -791px; width: 791px;" id="">
						<div class="uk-position-relative reviews_message">El espacio social abandona actualmente los entornos construidos a cambio de los espacios virtuales e imaginarios.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="../../assets/images/demo/customer_6.jpg" alt="" draggable="false">
							<div class="reviews_description">
								<div class="reviews_name">Edwin Gardner</div>
								<div class="reviews_position">Pintor y artista</div>
							</div>
						</div>
					</li></ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous uk-border-circle reviews_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next uk-border-circle reviews_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>

<!--section class="statistic dark_overlay section" id="statistic">
	<div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center uk-scrollspy-init-inview uk-scrollspy-inview select uk-active" data-uk-scrollspy="{cls:&#39;select uk-active&#39;}">
		<h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">Sobre nosotros...</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Proveemos soluciones con resultados de calidad para tu proyecto o negocio</h4>
		<div class="statistic_wrapper">
			<div class="uk-grid uk-grid-large">
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_1">15</span>
						</div>
						<div class="statistic_text">Projectos</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_2">35</span>
						</div>
						<div class="statistic_text">Clientes</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_3">500</span>
						</div>
						<div class="statistic_text">Horas</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_4">750</span>
						</div>
						<div class="statistic_text">Seguidores</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section-->	

<section class="price section" id="price">
	<div class="uk-container uk-container-center uk-text-center uk-scrollspy-init-inview uk-scrollspy-inview uk-active" data-uk-scrollspy="{cls:&#39;uk-active&#39;}">
		<h3 class="uk-h3 animated section_title address_title">Contáctanos</h3>
		<h4 class="uk-h4 animated uk-margin-large-bottom section_subtitle">Información de contacto</h4>
		<div class="uk-grid uk-grid-large address_wrapper">
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-map-marker address_label"></div>
					<h4 class="address_title">Dirección</h4>
					<div class="address_text">Localízanos en <br>San Ignacio Cerro Gordo, JAL 47190</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-phone address_label"></div>
					<h4 class="address_title">Teléfono</h4>
					<div class="address_text">331-573-9961</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-envelope-o address_label"></div>
					<h4 class="address_title">Email</h4>
					<div class="address_text">andly2902@gmail.com</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="uk-container uk-container-center uk-text-center">
		<ul class="uk-list social_list">
			<li class="social_list_item">
				<a class="uk-icon-facebook social_list_item_link" href="https://www.facebook.com/PeCaArquitectura-395129171232925"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-twitter social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-youtube social_list_item_link" href="#"></a>
			</li>
		</ul>
		<div class="footer_message">© 2019 PE&CA Arquitectura. Derechos reservados</div>
	</div>
</footer>

<div data-ng-click="scrollTop()" class="scroll_top active"></div>

</div>

<div id="mobile_nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-offcanvas">
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_features" href="#">Nosotros</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_offer" href="#">Servicios</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_projects" href="#">Proyectos</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_customers" href="#">Sabias que</a>
			</li>
			<!--li class="">
				<a data-ng-click="scrollNav($event)" class="link_facts" href="#">Hechos</a>
			</li-->
			<!--li class="">
				<a data-ng-click="scrollNav($event)" class="link_team" href="#">Equipo</a>
			</li-->
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_pricing" href="#">Contáctanos</a>
			</li>
		</ul>
	</div>
</div>

<div class="uk-modal" aria-hidden="true" style="display: none; overflow-y: auto;">
  <div class="uk-modal-dialog uk-modal-dialog-lightbox uk-slidenav-position" style="margin-left: auto; margin-right: auto; width: 800px; height: 600px; top: 31px;">
    <a href="#" class="uk-modal-close uk-close uk-close-alt">
    </a>
    <div class="uk-lightbox-content" style="opacity: 1;">
    </div>
    <div class="uk-modal-spinner uk-hidden">
    </div>
  </div>
</div>
</body>
</html>