.icon-cards {
    position: relative;
    width: 80vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(-30vw) rotateY(0);
            transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
            animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
            animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-transform-origin: center;
            transform-origin: center;
    border-color: white;
    border-style: solid;
  }
  .icon-cards__item:nth-child(1) {
    background: #b062bf;
    -webkit-transform: rotateY(0) translateZ(35vw);
            transform: rotateY(0) translateZ(35vw);
  }
  .icon-cards__item:nth-child(2) {
    background: #614766;
    -webkit-transform: rotateY(120deg) translateZ(35vw);
            transform: rotateY(120deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(3) {
    background: #81498c;
    -webkit-transform: rotateY(240deg) translateZ(35vw);
            transform: rotateY(240deg) translateZ(35vw);
  }
  
  @-webkit-keyframes carousel {
    0%,  17.5% {
      -webkit-transform: translateZ(-35vw) rotateY(0);
              transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      -webkit-transform: translateZ(-35vw) rotateY(-120deg);
              transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      -webkit-transform: translateZ(-35vw) rotateY(-240deg);
              transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      -webkit-transform: translateZ(-35vw) rotateY(-360deg);
              transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  
  @keyframes carousel {
    0%,  17.5% {
      -webkit-transform: translateZ(-35vw) rotateY(0);
              transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      -webkit-transform: translateZ(-35vw) rotateY(-120deg);
              transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      -webkit-transform: translateZ(-35vw) rotateY(-240deg);
              transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      -webkit-transform: translateZ(-35vw) rotateY(-360deg);
              transform: translateZ(-35vw) rotateY(-360deg);
    }
  }

  
  @-webkit-keyframes jelly {
    from {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    30% {
      -webkit-transform: scale(1.25, 0.75);
              transform: scale(1.25, 0.75);
    }
    40% {
      -webkit-transform: scale(0.75, 1.25);
              transform: scale(0.75, 1.25);
    }
    50% {
      -webkit-transform: scale(1.15, 0.85);
              transform: scale(1.15, 0.85);
    }
    65% {
      -webkit-transform: scale(0.95, 1.05);
              transform: scale(0.95, 1.05);
    }
    75% {
      -webkit-transform: scale(1.05, 0.95);
              transform: scale(1.05, 0.95);
    }
    to {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  
  @keyframes jelly {
    from {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    30% {
      -webkit-transform: scale(1.25, 0.75);
              transform: scale(1.25, 0.75);
    }
    40% {
      -webkit-transform: scale(0.75, 1.25);
              transform: scale(0.75, 1.25);
    }
    50% {
      -webkit-transform: scale(1.15, 0.85);
              transform: scale(1.15, 0.85);
    }
    65% {
      -webkit-transform: scale(0.95, 1.05);
              transform: scale(0.95, 1.05);
    }
    75% {
      -webkit-transform: scale(1.05, 0.95);
              transform: scale(1.05, 0.95);
    }
    to {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  